
.main {
     height: 550px;
  background-color: white;  
 
}

.main-title {
    padding: 20px;
    
    text-align: center;
    font-weight: 900;
    color: #222;
    font-size: 5rem;
    margin-bottom: 16px;
    font-family: 'Bitter', sans-serif;
    margin-right: 150px;
}

.main-text {
   font-size: 1.7rem;
      padding:  0 0 0 20px;
    
      display: flex;

      &-content {
         display: inline-block;
         width: 60%;
         background-color: white;
         padding: 20px;;
         border-radius: 10px;
      }

      &-image {
          width: 30%;
          height: auto;
          max-width: 100%;
          border-radius: 8px;
          margin-left: 20px;
          background-color: white;
      }
}

.main-container {
   height: 550px;
    background-color: #FFCC00;;  
    border-radius: 0 100px 100px 0;
    height: 100%;
    padding-left: 155px;
    padding-top: 55px;
     width: 100%;
      font-family: "Arieal", sans-serif;
      padding-right: 100px;
}

.app-dload-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-dload-image-pic {
    
    width: 25%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
    
    background-color: white;
}