
.footer {
     height: 350px;
  background-color: white;  

    @media screen and (max-width: 600px) {
        border-radius: 0 50px 0 0 ;
    }
}

.footer-container {
   height: 350px;
    background-color: #FFCC00;;  
    border-radius: 0 150px 0 0 ;
    height: 100%;

   @media screen and (max-width: 600px) {
        border-radius: 0 30px 0 0 ;
    }
    
}
