
.footer {
     height: 350px;
  background-color: white;  

    @media screen and (max-width: 600px) {
        border-radius: 0 50px 0 0 ;
    }

    &-text {
        font-size: 1.2rem;
        color: #222;
        font-family: 'Mozilla Text', sans-serif;
        text-align: center;
        margin-top: 20px;
    }
}

.footer-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 350px;
    background-color: #FFCC00;;  
    border-radius: 0 150px 0 0 ;
    height: 100%;

   @media screen and (max-width: 600px) {
        border-radius: 0 30px 0 0 ;
    }
    
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    list-style: none;
    flex-direction: row;

    li {
        list-style: none;
        font-size: 3rem;
        color: #222;
        transition: color 0.3s ease;

        &:hover {
            color: #a58400;
        }
    }
}

.company-logo {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
   
}