.nav {
  display: flex;
  justify-content: flex-end; // aligned to the right
  align-items: center;
  height: 50px;
  background: #ffcc00;
  font-family: "Mozilla Text", sans-serif;
  font-size: 1.5rem;
  width: 100%;
  padding-top: 20px;

  @media screen and (max-width: 600px) {
    justify-content: center; // centered on smaller screens
    padding-top: 10px;
    display: none;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 100px;
    margin-right: 40px;
    box-shadow: 1px 5px 15px;
  }
}

.ul {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease;

  a {
    color: rgb(49, 49, 49);
    text-decoration: none;
    transition: color 0.3s ease;
  }

  &:hover {
    background-color: rgb(46, 46, 46);

    a {
      color: white;
    }
  }

  &:first-child {
    border-radius: 100px 0 0 100px;
  }

  &:last-child {
    border-radius: 0 100px 100px 0;
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  position: fixed;
  cursor: pointer;

  @media screen and (max-width: 600px) {
    display: flex; // show hamburger on smaller screens
  }

  div {
    width: 100%;
    height: 4px;
    background-color: rgb(49, 49, 49);
    border-radius: 2px;
    transition: all 0.3s ease;
  }
}