
.main {
    background-color: #FFCC00;
    height: 500px;
    
}

.main-container {
    background-color: white;
    height: 100%;
    border-radius: 100px 0 0 100px;
    margin-left: 55px;

    @media screen and (max-width: 600px) {
        margin-left: 0;
    }
}