
.main {
    background-color: #FFCC00;
    height: 500px;

    &-container {
    background-color: white;
    height: 100%;
    border-radius: 100px 0 0 100px;
    margin-left: 55px;

    @media screen and (max-width: 600px) {
        margin-left: 0;
        border: 20px solid #FFCC00;
        border-radius: 50px 50px 50px 50px;

    }

    &-title {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
}


}