.reviews {

    background-color: #FFCC00;
    height: 300px;

    &-container {
        background-color: rgb(226, 226, 226);
        height: 100%;
        border-radius: 100px 0 0 100px;
        margin: 0 25px 0 25px;

         @media screen and (max-width: 600px) {
            width: 100%;
            border-radius: 0 ;
            margin: 0;
        }   



    
    }

    &-title {
        padding: 20px;
    
    text-align: center;
    font-weight: 900;
    color: #222;
    font-size: 5rem;
    margin-bottom: 16px;
    font-family: 'Bitter', sans-serif;

         @media screen and (max-width: 600px) {
            font-size: 5rem;
        }
    }
}

h2 {
   


}