@use '_global.scss';
@use '_nav.scss';
@use '_header.scss';
@use '_info.scss';
@use '_scroller.scss';
@use '_footer.scss';
@use '_contact.scss';
@use '_reviews.scss';
@use '_other.scss';
@use '_download.scss';