/* * {
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background: linear-gradient(to right, #FFCC00 0%, #FFCC00 50%, white 50%, white 100%); 
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

body {
  margin: 0 auto;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.192), rgba(184, 184, 184, 0.253)), url("../images/earth.jpg");
  background-attachment: fixed;
  background-size: cover;
 max-width: 1450px;

}
@media screen and (max-width: 780px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.192), rgba(184, 184, 184, 0.253)), url("../images/earth.jpg");
  }
} */
/* 
.nav {
    position: absolute;
    
 height: 40px;
    background: #FFCC00;
   font-family: "Mozilla Text", sans-serif;
    font-size: 1.5rem;
   width: 100%;
    
}

.nav-container {
    position: relative;
    top: 20px;
    right: -55%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 400px;
     border-radius: 100px;
     height: 40px;
  border: 1px solid rgb(180, 180, 180);
}

a {   
    color: rgb(49, 49, 49);
    text-decoration: none;
}

ul {
    list-style: none;
} */


/* 

.header {
    height: 350px;
    background-color: white;
     color: white;
  text-shadow:
     -1px -1px 0 black,
      1px -1px 0 black,
     -1px  1px 0 black,
      1px  1px 0 black;
  font-size: 2rem;
 
    font-family: "Mozilla Text", sans-serif;
    font-weight: 600;
}

.header-container {
    height: 350px;
    background: #FFCC00;
    border-radius: 0 0 150px 0;
    display: grid;
    grid-template-columns: 30% 70%; 
    grid-template-rows: 1fr;      
}


.header-logo {
    width: 50%;

}

.header-logo-image {
    margin: 25px 0 0 80px;
    height: 325px;
}

.header-quote {
    position: relative;
    top: 30%;
    right: -30%;
    width: 55%;
    font-size: 4rem;
    text-align: center;
} */
/* 
.main {
    background-color: #FFCC00;;
    height: 500px;
    
}

.main-container {
    background-color: white;
    height: 100%;
    border-radius: 100px 0 0 100px;
    margin-left: 55px
} */

/* .info {
     height: 550px;
  background-color: white;  
 
}

.info-container {
   height: 550px;
    background-color: #FFCC00;;  
    border-radius: 0 100px 100px 0;
    height: 100%;
    padding-left: 55px;
     width: 85%
} */

/* .scroller {
     background-color: #FFCC00;;
    height: 500px;
}

.scroller-container {
     background-color: white;
    height: 100%;
   border-radius:  150px 0 0 150px;
    margin-left: 55px
} */
/* 
.footer {
     height: 350px;
  background-color: white;  
}

.footer-container {
   height: 350px;
    background-color: #FFCC00;;  
    border-radius: 0 150px 0 0 ;
    height: 100%;
    
} */



